<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_investment"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_investment"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestmentSugg"
        tools:targetApi="31">
        <activity
            android:name="jeevanS3340278.investmentsugg.development.InvDetailsActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.KnowYourInvActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.InvestmentFormulaActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.StockDetailsActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.InvestorProfileActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.MaterialActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.StocksActivity"
            android:exported="true" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.SignInActivity"
            android:exported="false" />
        <activity
            android:name="jeevanS3340278.investmentsugg.development.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InvestmentSugg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>